@use "variables" as *;

@mixin text-preset-1 {
  font-family: "BigShoulders", cursive;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 700;
}

@mixin text-preset-2 {
  font-family: "LexendDeca", sans-serif;
  font-size: 15px;
  line-height: 165%;
  letter-spacing: 0px;
  font-weight: 400;
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
