@use "variables" as *;
@use "mixins" as *;
@use "reset";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.text-preset-1 {
  @include text-preset-1;
}
.text-preset-2 {
  @include text-preset-2;
}
.text-preset-3 {
  @include text-preset-3;
}
.text-preset-4 {
  @include text-preset-4;
}
.text-preset-5 {
  @include text-preset-5;
}

.white {
  color: $white-color;
}
.purple-500 {
  color: $purple-500-color;
}

.opacity-60 {
  opacity: 0.6;
}
.opacity-75 {
  opacity: 0.75;
}

html {
  font-size: 18px;
}

body {
  display: grid;
  place-items: center; /*Aligne horizontalement et verticalement (uniquemnet pour display: grid) */
  min-width: 320px; /* Sécurité pour très petit écran */
  margin-inline: auto;
  background: $navy-950-color;
}

main {
  max-width: 327px;
  border-radius: 10px;
  overflow: hidden;

  @include tablet {
    max-width: 564px;
  }
  @include desktop {
    max-width: 1110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
