@use "variables" as *;
@use "mixins" as *;
@use "reset";

@font-face {
  font-family: "BigShoulders";
  src: url("./fonts/BigShoulders-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LexendDeca";
  src: url("./fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.text-preset-1 {
  @include text-preset-1;
}
.text-preset-2 {
  @include text-preset-2;
}

.opacity-75 {
  opacity: 75%;
}

.white {
  color: $white-color;
}

.gray-100 {
  color: $gray-100-color;
}

.gold-500 {
  color: $gold-500-color;
}

.cyan-800 {
  color: $cyan-800-color;
}

.green-950 {
  color: $green-950-color;
}

html {
  font-size: 15px;
}

body {
  display: grid;
  place-items: center; /*Aligne horizontalement et verticalement (uniquemnet pour display: grid) */
  min-width: 320px; /* Sécurité pour très petit écran */
  margin-inline: auto;
  background: $gray-100-color;
}

main {
  margin-block: 50px;
  max-width: 327px;
  border-radius: 10px;
  overflow: hidden;

  @include tablet {
    max-width: 608px;
  }
  @include desktop {
    max-width: 921px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sedans {
  background: $gold-500-color;
  padding: $spacing-600;
  @include tablet {
    padding: $spacing-1000;
  }
}

.suvs {
  background: $cyan-800-color;
  padding: $spacing-600;
  @include tablet {
    padding: $spacing-1000;
  }
}

.luxury {
  background: $green-950-color;
  padding: $spacing-600;
  @include tablet {
    padding: $spacing-1000;
  }
}

img {
  padding-block-end: $spacing-400;

  @include desktop {
    padding-block-end: $spacing-500;
  }
}

h1 {
  padding-block-end: $spacing-300;
}

p {
  padding-block-end: $spacing-300;
  @include desktop {
    padding-block-end: $spacing-1000;
  }
}

button {
  border-radius: 25px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: $gray-100-color;
  padding-block: 10px;
  padding-inline: 20px;
}
